
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    @Html.Action("PartialHead", "AdminLayout")
</head>
<body>
    <!-- partial:partials/_navbar.html -->
    @Html.Action("PartialNavbar", "AdminLayout")
    <br />
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

        <!-- partial:partials/_sidebar.html -->
        @Html.Action("PartialSider", "AdminLayout")
        <!-- partial -->
        <div class="main-panel">
            @RenderBody()
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                @Html.Action("PartialFooter", "AdminLayout")
            </footer>

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    @Html.Action("PartialScript", "AdminLayout")
</body>

</html>

